<div class="d-flex flex-wrap justify-content-center p-3 my-5" style="background-color:#1ea8c4; min-height: 85vh;">
    <div class="card m-3" style="width:80vw; height:100%;">
        <img src="images/post-banner.jpg" height="200px">
        <h2 class="text-center fw-light p-3 text-primary"><span class="text-danger">SDE</span> oppertunity in GURGAON HR IND REMOTE at <span class="text-success">Coding Ninjas</span></h2>
        <div class="card-body">
          <div class="d-flex">
            <a href="#" class="btn btn-secondary px-2 py-0" style="cursor:default;">Actively hiring <i class="fa-solid fa-user"></i></a>
          </div>
          <h5 class="card-title my-2 ms-2 text-danger">Coding Ninjas</h5>
          <h6 class="card-subtitle my-2 ms-2 text-body-secondary">Non-Tech <span class="text-danger">HR</span></h6>
          <div class="d-flex  flex-column my-3 ms-4">
            <p class="card-text"><i class="fa-solid fa-location-dot text-success"></i> Gurgaon HR IND Remote</p>
            <p class="card-text"><i class="fa-solid fa-indian-rupee-sign"></i> 14-20 LPA</p>
            <p class="card-text"><i class="fa-regular fa-calendar-days"></i> Apply By 30 Aug 2023</p>
            <p class="card-text"><i class="fa-solid fa-list-ol"></i> Number of openings 5</p>
            <p class="card-text text-danger"><i class="fa-solid fa-users"></i> Applicants 1</p>
            </div>
          <div class="ms-4">
            <a href="#" class="btn btn-outline-success py-0" style="cursor:default;">React.js</a>
            <a href="#" class="btn btn-outline-success py-0" style="cursor:default;">Node.js</a>
            <a href="#" class="btn btn-outline-success py-0" style="cursor:default;">Express</a>
            <a href="#" class="btn btn-outline-success py-0" style="cursor:default;" >Mongo DB</a>
          </div>
          <a href="/job" class="btn btn-outline-primary fs-5 my-2 py-1 ms-4">Apply Now</a>
        </div>
    </div>
</div>