
<div class="pt-5">
  <% if(errorMsg){ %>
    <div class="alert alert-danger text-center" role="alert">
      <%=errorMsg%>
    </div>
  <% } %>
    <form action="/login" method="post" class="mt-5 w-50 py-2 px-5 mx-auto"  style="background-color: white; box-shadow: 1px 1px 6px 4px rgba(0, 0, 0, 0.5); border-radius: 8px;">
        <p class="fs-3 text-center">Login</p>
        <div class="mb-3 d-flex align-items-center">
          <input type="email" class="form-control"  name="email" placeholder="Email">
        </div>
        <div class="mb-3 d-flex align-items-center">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-warning text-light px-4 py-1 mb-2">Login</button>
      </form>
</div>